MYSQL_ROOT_PASSWORD=CHANGEME
MYSQL_DATABASE=CHANGEME
MYSQL_USER=CHANGEME
MYSQL_PASSWORD=CHANGEME

WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=CHANGEME
WORDPRESS_DB_PASSWORD=CHANGEME
WORDPRESS_DB_NAME=CHANGEME

PMA_HOST=db
PMA_PORT=3306
PMA_USER=CHANGEME
PMA_PASSWORD=CHANGEME

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASS=your_email_password
SMTP_SECURE=tls
SMTP_FROM=smtp@example.com
SMTP_DEFAULT_ACCOUNT=default